<button
  mat-button
  (click)="refresh()">
  Neu Anordnen
</button>

<svg
  width="100%"
  height="700"
  [attr.viewBox]="viewBoxParsed"
  [ngClass]="{'blurred': openSection | async}"
  >
  <!--<rect-->
    <!--*ngFor="let box of boxes"-->
    <!--[attr.x]="box.x"-->
    <!--[attr.y]="box.y"-->
    <!--[attr.width]="box.width"-->
    <!--[attr.height]="box.height"-->
    <!--fill="none"-->
    <!--style="stroke-width:1;stroke:rgb(0,0,0)" />-->
  <text
    #word
    *ngFor="let box of boxes; index as index"
    [attr.index]="index"
    [attr.x]="normalizePosition(box).x"
    [attr.y]="normalizePosition(box).y"
    [attr.transform]="getTranformation(box)"
    [attr.font-size]="box.fontSize"
    [attr.fill]="box.fill"
    [matTooltip]="getTooltip(box)">
    {{ box.word }}
  </text>
</svg>

<button
  mat-button
  color="warn"
  (click)="cleanup()">
  Daten löschen
</button>
