#container {
  padding: 1em;
}

#logo {
  height: 100%;
  margin-right: 16px;
}

mat-toolbar-row {
  padding-left: 0;
}

#footer {
  text-align: center;
  font-size: 9px;
}

#footer a {
  color: gray;
  text-decoration: none;
}
